version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: achariya-web
    restart: always
    ports:
      - "3001:3000"
    environment:
      - DATABASE_URL=file:./dev.db
      - NODE_ENV=production
    volumes:
      - ./dev.db:/app/dev.db
